
{% extends 'base.html' %}
{%load static%}
{% block content %}
<link rel='stylesheet' href="{% static 'css/buttons.css' %}">
  {% load crispy_forms_tags %}  
  <!--Password Reset Complete-->
    <div class="container p-4"><br>
	    <h2 style="color:gold; text-align:center;" class="font-weight-bold mt-3">Password reset complete</h2>
      <br><hr><br>
        <p style="color:white; text-align:center;">Your password has been set. You may go ahead and log in now.</p>                 
    </div>
    <br>
    <a href="{% url 'login' %}">
      <div class="float-child">
      <div class="card2">Login</div>
  </div>
      </a>
  <a href="{% url 'home' %}">
      <div class="float-child">
          <div class="card2">Home</div>
      </div><br>
      </a>
{% endblock %}