
{% extends 'base.html' %}
{%load static%}
{% block content %}
<link rel='stylesheet' href="{% static 'css/buttons.css' %}">
  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
        <br>
	    <h2 style="color:gold; text-align:center;" class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <br>
        <p style="color:white; text-align:center;">Please enter your new password.</p><br>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %} 
            <h2 class="p1 card3  ">
                {{ field.label_tag }}<br>  
                <div class="p1 card3" >{{ field }} <br>
                  <small class="p2" >{{ field.help_text }}</small>
                  {% if field.help_text %} <br> 
                {% endif %}  
                {% for error in field.errors %}  
                  <p2 style="color: red">{{ error }}</p> 
                  {% endfor %}  
                {% endfor %} 
                <br>   
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
    <br>
    <a href="{% url 'login' %}">
      <div class="float-child">
      <div class="card2">Login</div>
  </div>
      </a>
  <a href="{% url 'home' %}">
      <div class="float-child">
          <div class="card2">Home</div>
      </div><br>
      </a>
{% endblock %}