<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .form-submit-button {
            background:blue;
            color:#fff;
            border:100pxsolid#eee;
            border-radius:100px;
            box-shadow:50px50px50px#eee;
            text-shadow:none;
       }
       .form-submit-button:hover {
            background:darkblue;
            color:#fff;
            border:100pxsolid#eee;
            border-radius:100px;
            box-shadow:50px50px50px#eee;
            text-shadow:none;
       }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body bgcolor="black">

    {% block content %}

    {% endblock %}


</body>

</html>